<!DOCTYPE html>
<html lang="en" ng-app="store">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body ng-controller="StoreController as store">
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>

<div ng-hide="store.product.soldOut" ng-repeat="product in store.products">
    <h1>{{product.name}}</h1>
    <h2>{{product.price | currency}}</h2>
    <p>{{product.description}}</p>
    <button ng-show="store.product.canPurchase">Ad to Cart</button>
    <img ng-src="{{product.images[0].full}}" />

    <section ng-controller="PanelController as panel">
        <ul class="nav nav-pills">
            <li ng-class="{active:panel.isSelected(1)}"><a href ng-click="panel.selectTab(1)">Description</a></li>
            <li ng-class="{active:panel.isSelected(2)}"><a href ng-click="panel.selectTab(2)">Specificatin</a></li>
            <li ng-class="{active:panel.isSelected(3)}"><a href ng-click="panel.selectTab(3)">Reviews</a></li>
        </ul>

        <div class="panel" ng-show="panel.isSelected(1)">
            <h4>Description</h4>
            <p>{{product.description}}</p>
        </div>
        <div class="panel" ng-show="panel.isSelected(2)">
            <h4>Specification</h4>
            <p>{{product.description}}</p>
        </div>
        <div class="panel" ng-show="panel.isSelected(3)">
            <h4>Reviews</h4>
            <p>{{product.description}}</p>
        </div>
    </section>

</div>
<p>{{store.product.description}}</p>

</body>
</html>